<nav  class="navbar navbar-expand-lg " style="background-color: lightsalmon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav" >

       <li class="nav-item">
          <a class="nav-link" routerLink="add-article" routerLinkActive="active-link" href="#">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-categorie" routerLinkActive="active-link" href="#">Catégorie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="add-client" routerLinkActive="active-link" href="#">Client</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="add-four" routerLinkActive="active-link" href="#">Fournisseur</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="add-scategorie" routerLinkActive="active-link" href="#">Sous Catégorie</a>
        </li>



        <!--

                   <li><a  routerLink="add-article" routerLinkActive="active-link">Article</a></li>
                   <li><a  routerLink="add-categorie" routerLinkActive="active-link">Categorie</a></li>
                   <li><a routerLink="add-client" routerLinkActive="active-link">Client</a></li>
                   <li><a  routerLink="add-four" routerLinkActive="active-link">Fournisseur</a></li>
                   <li><a routerLink="add-scategorie" routerLinkActive="active-link">Sous Categorie</a></li>
                 </ul>


       -->


      </ul>
         </div>
  </div>
       </nav>

